/* Importa fuente Roboto desde Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

.MainContainer {
    margin: auto;
}

/* Estilos para HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px; /*Para no usar todo el ancho en pantalla UltraWide*/
    margin: auto;
}

header .logo {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

header .logo img{
    width: 90px;
    margin-right: 10px;
}

header .logo p{
    font-size: 2em;
    font-weight: 700;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(35deg, #333,#9d7d68,#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} 

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 1.5em;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav ul li {
    margin: 0px 10px;
}

header nav ul li a{
    color: #333;
    font-size: 1.3em;
    transition: color 0.4s, background-color 0.4s;
}

header nav ul li a:hover {
    color: #9d7d68;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

/* Estilos para el "mobile_nav" */

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 10px;
    margin-right: 1.1em;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.8);
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.mobile-nav ul {
    flex-direction: column;
}

.mobile-nav ul li {
    margin: 3px 10px;
}

main h1 {
    font-size: 2rem;
    text-align: center;
}

/*Estilos para banner*/
.cover_image {
    width: 100%;
    margin: auto;
    padding-bottom: 15px;
}

.cover_image img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}


/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
}

.card {
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.card .img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media-Query para mobile */
@media screen and (max-width: 768px) {
    header nav {
        display: none;
    }

    header .logo{
        margin: auto;
    }
    
    .menu-icon {
        display: block;
    }

    .menu-toggle:checked ~ .menu-icon ~ .mobile-nav {
        display: flex;
    }
}

/* Estilos para el formulario en "Contacto"*/

.main__contact {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(3deg,#e9e9ed, #9d7d68);
    border-radius: 15px;
    border: 2.5px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo{
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    padding: 10px 25px;
    color: #333;
    text-align: center;
    border: 2px dotted #ccc;
    border-radius: 10px;
    background-color: #9d7d68;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.radio {
    display: flex;
    flex-wrap: wrap;    
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    resize: vertical;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.8s;
}

textarea:focus {
    border-color: #333;
    background-color: #fff;
    outline: none;
}

input[type="range"] {
    width: 100%;
}

button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: #555;
}

#miArchivo{
    padding-left: 0px;
}

footer {
    position: absolute;
    width: 100%;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
}

footer .informacion{
    margin: 2% 10%;
    line-height: 1.5;
    display: block;
    position: relative;
    float: left;
}
footer .informacion p span{
    color:#9d7d68
}

footer .copyright{
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}



.logoGit{
    margin: 2% 10%;
    float: right;
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px 10px;
}

.logoGit a {
    font-size: 3em;
    color: #9d7d68;
}

.logoGit a:hover{
    color: #333;
    transform: translateY(-10px);
}